<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${current-operation}">Title</title>
</head>
<body>
<p th:text="${current-operation}">Operation...</p>
<form method="get" action="#" th:action="@{/item-save}">
    <label for="name">First Name</label>
    <input id="name" name="firstName" type="text"><br>
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" name="lastName"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>